# base
run.sh
Debug

# aio
run.aio.*

# c
*.o
*.o.cmd
*.mod.cmd
*.mod
*.ko.cmd
*.mod.c
*.o.d
*.symvers
*.order

# xmake
.xmake
build
.cache
install

# clangd
compile_commands.json

# kernel mod
*.ko

# gdb
.gdbinit

# devbox
devbox.json
devbox.lock

# vscode
.vscode


